<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>JSON/XML Web Data Connector</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A simple Tableau Web Data Connector for connecting to XML and JSON data."
    />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/json2csv"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.2.0/papaparse.min.js"></script>
    <script src="/xml2js@latest.js"></script>
    <script src="https://connectors.tableau.com/libs/tableauwdc-2.3.latest.js"></script>
    <script src="/script.js" defer></script>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="card" id="dataInput">
        <div class="row">
          <span class="header">JSON/XML Connector</span>
          <a target="_blank" href="https://github.com/KeshiaRose/JSON-XML-WDC">
            <div class="info" title="More Info">?</div>
          </a>
        </div>
        <p class="label">Enter a URL for JSON/XML data:</p>
        <div class="row">
          <input id="url" type="url" />
          <select id="method">
            <option value="GET" selected>GET</option>
            <option value="POST">POST</option>
          </select>
        </div>
        <p class="label small" onclick="toggleAdvanced()">Advanced +</p>
        <div class="bearerDiv hidden" id="advanced">
          <p class="label bearerLabel">Bearer:</p>

          <div class="row">
            <div class="advancedInput">
              <p class="label small">Token</p>
              <input id="token" type="password" />
            </div>
          </div>

          <div class="row">
            <p>
              or
            </p>
          </div>
          <div class="row">
            <p class="label bearerLabel">Basic Authentication:</p>
          </div>

          <div class="row">
            <div class="advancedInput">
              <p class="label small">Username</p>
              <input id="username" type="text" />
            </div>
            <div class="advancedInput">
              <p class="label small">Password</p>
              <input id="password" type="password" />
            </div>
          </div>
        </div>
        <div id="dragdrop" class="dragdrop">
          <b>Or</b> drag & drop a JSON/XML file here
        </div>
        <p class="label"><b>Or</b> paste JSON/XML data below:</p>
        <textarea id="paste" rows="7" cols="50"></textarea>
        <button class="primary" onclick="_next()">Next</button>
        <div class="error"></div>
      </div>

      <div class="card" id="fieldInput" style="display: none;">
        <span class="header">JSON/XML Connector</span>
        <span>Select which columns to bring in.</span>
        <div class="tables" id="tables">
          <div class="table" data-tableid="0">
            <p class="label">Table Name:</p>
            <input data-tableid="0" type="text" placeholder="My Data" />
            <div class="selections">
              <span
                ><a onclick="_selectAll(this)" data-tableid="0"
                  >Select All</a
                ></span
              >
              <span
                ><a onclick="_clearAll(this)" data-tableid="0"
                  >Clear All</a
                ></span
              >
            </div>
            <div class="fields" data-tableid="0">No data fields found</div>
          </div>
        </div>
        <button class="secondary" onclick="_addTable()">+ Add Table</button>
        <button class="primary" onclick="_submitDataToTableau()">Submit</button>
        <div class="error"></div>
      </div>
    </div>
    <img
      src="https://devplat-hit-counter.herokuapp.com/counter.png"
      alt=""
      style="display: none;"
      aria-hidden="true"
    /><!-- Hit tracker -->
    <script>
      // Catch browser or non-current Desktop users.
      setTimeout(function() {
        try {
          var version = +tableau.platformVersion
            .split(".")
            .slice(0, 2)
            .join(".");
          if (version < 2019.4)
            document.body.innerHTML =
              "<div class='loadError'><p>This WDC only works in Tableau Desktop 2019.4 or higher.</p><p><a href='https://www.tableau.com/support/releases' target='_blank'>Update now.</a></p></div>";
        } catch (e) {
          document.body.innerHTML =
            "<div class='loadError'><p>You must open this WDC in Tableau Desktop 2019.4+ to use it.</p><p><a href='https://tableau.github.io/webdataconnector/docs/wdc_use_in_tableau.html' target='_blank'>Learn how.</a></p></div>";
        }
      }, 1000);
    </script>
  </body>
</html>
